body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
  border: 2px solid black;
}

.right-section {
  padding-left: 50px;
  padding-right: 50px;
  background-color: azure;
  border-left: 2px solid black;
}

.about-me-section {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.work-experience,
.projects,
.education,
.additional-education {
  background-color: rgb(167, 218, 200);
}

.education-item,
.work-experience-item {
  color: #fb6d3a;
  font-weight: bold;
}

.sidebar-section {
  background-color: rgb(167, 218, 200);
  width: 370px;
  padding: 50px;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
  color: white;
}

.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.contacts-value {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}

/* Stiluri pentru ecrane mici (mobil) */
@media (max-width: 768px) {
  .main-section {
    width: 100%;
    flex-direction: column;
  }
  .right-section {
    padding: 20px;
  }
  /* Alte stiluri pentru ecrane mici */
}
