body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 50px auto;
  border: 2px solid black;
}

.right-section {
  padding-left: 50px;
  padding-right: 100px;
  background-color: azure;
  border-left: 2px solid black;
}

.about-me-section {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.name,
.position {
  text-align: center;
  /* text-transform: uppercase; */
}

.position {
  animation: intrareDinStanga 1s ease-out;
}

@keyframes intrareDinStanga {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(0);
  }
}

.work-experience,
.projects,
.education,
.additional-education {
  background-color: rgb(167, 218, 200);
  padding-bottom: 5px;
}

.education-item,
.work-experience-item {
  color: #fb6d3a;
  font-weight: bold;
}

.work-experience-item {
  display: inline;
}

.sidebar-section {
  background-color: rgb(167, 218, 200);
  width: 100%;
  max-width: 370px;
  padding: 50px;
  box-sizing: border-box;
}

.contacts-value {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}

.contacts-phone-icon {
  background-color: white;
  font-size: 50px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-top: 5px;
}
.items {
  font-weight: bold;
}

.item {
  font-weight: bold;
  display: inline;
  padding-right: 100;
}

/* -------- Responsive pentru mobil -------- */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main-section {
    flex-direction: column; /* Pune tot pe verticală */
    width: 100%;
    margin: 0;
    border: none;
  }

  .sidebar-section {
    order: 1;
    max-width: 100%;
    padding: 20px;
    text-align: center;
  }

  .sidebar-section img.image {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
  }

  .right-section {
    order: 2;
    padding: 20px;
    border: none;
  }

  .right-section h1.name,
  .right-section h3.position {
    margin-top: 10px;
    text-align: center;
  }
}
